body {
    font-family: 'Arial', sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #quiz-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    color: #333333;
  }
  
  .question {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333333;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 8px;
  }
  
  label {
    color: #555555;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: none;
    margin-top: 20px;
    color: #333333;
  }
  